.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: #333;
}

@media screen and (min-width: 1200px) {
  .App__Grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
  }

  .App__Download {
    grid-row: 2;
    grid-column: 2;
  }
}

.App__Tool {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(177, 177, 177);
  margin: 5px;
  padding: 3px;
}

.App__Tool img {
  max-width: 100%;
}

.App__Tool b {
  display: block;
  margin-bottom: 10px;
}

.App__Download {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  background-color: #0547b1;
  display: inline-block;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  transition: background-color 200ms;
}

.App__Download:hover {
  background-color: #0547b1;
}

.App__Logo {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -.35em;
}